

.Typewritting{
   
    letter-spacing: 2px;
    color: rgb(241, 241, 77);
    
}

.Upper_container{
  
    width: 100vw;
    background-color: rgb(10, 9, 9);
    border: 2px dotted red;
    text-align: center;
    color: rgb(192, 218, 240);
}

.modal_section_1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.edit_form{
    background-color: cadetblue;
    color: bisque;
}

.cards_container{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    text-align: center;
    margin-top: 2rem;
}

.Open_status,.Pending_status,.userId_box,.Closed_status{
    border: 2px double red;
    background-color: burlywood;
    color: black;
    width: 12rem;
    border-radius: 2rem;
}
.showButtons{
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    padding: 1.5rem;
  

}
.showUserTable{
    margin-right: 2rem;
    width: 7rem;
    height: fit-content;
    background-color: rgb(28, 167, 28);
    color: bisque;
}

.Material{
    display: flex;
    justify-content: center;
}
.togglers{
    display: flex;
    justify-content: flex-start;
    margin-left: 6rem;
    margin-bottom: 0;
    margin-top: 2rem;
}
.anchors{
    /* padding: 1.5rem; */
    
    margin-left: 1.5rem;
    
}

.anchors:hover{
    color: rgb(94, 161, 55);
    cursor: pointer;
}