

/* .Upper_container{
    background-color:red;
}

.first_box,.second_box,.Third_box {
    margin-top: 1rem;
    text-align: center;
    height: 15rem;
    width: 15rem;
    background-color : green;
    color: bisque;
    border: 2px dotted salmon ;
    border-radius: 1rem;
    padding: 2rem;
} */